In [1]:
# import libraries
import pandas as pd

In [3]:
# initialize dataframe
df = pd.read_csv('./assets/Smart_City_index_headers.csv')
# display first 5 rows
df.head()

,Id,City,Country,Smart_Mobility,Smart_Environment,Smart_Government,Smart_Economy,Smart_People,Smart_Living,SmartCity_Index,SmartCity_Index_relative_Edmonton
0,1,Oslo,Norway,6480,6512,7516,4565,8618,9090,7138,666
1,2,Bergen,Norway,7097,6876,7350,4905,8050,9090,7296,823
2,3,Amsterdam,Netherlands,7540,5558,8528,8095,7098,7280,7311,839
3,4,Copenhagen,Denmark,7490,7920,8726,5580,5780,7200,7171,698
4,5,Stockholm,Sweden,6122,7692,8354,4330,6743,7730,6812,340

In [4]:
# Describe dataframe
df.describe()

,Id,Smart_Mobility,Smart_Environment,Smart_Government,Smart_Economy,Smart_People,Smart_Living,SmartCity_Index,SmartCity_Index_relative_Edmonton
count,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000
mean,51.500000,5759.401961,5943.500000,5893.803922,6131.803922,5874.049020,6377.039216,5991.911765,-480.392157
std,29.588849,1214.030137,1724.032171,1153.375297,1801.555148,1449.096341,2286.397477,852.775180,852.783238
min,1.000000,3175.000000,1850.000000,2806.000000,1490.000000,2825.000000,1980.000000,4191.000000,-2281.000000
25%,26.250000,4809.750000,4530.500000,5143.000000,5007.500000,4724.750000,4385.000000,5366.250000,-1105.750000
50%,51.500000,5651.500000,6495.000000,5911.000000,6432.500000,5747.500000,6485.000000,6261.500000,-210.500000
75%,76.750000,6763.750000,7310.000000,6581.500000,7492.500000,7061.250000,8710.000000,6672.500000,200.500000
max,102.000000,8110.000000,8844.000000,8726.000000,9225.000000,9695.000000,10000.000000,7353.000000,880.000000

In [7]:
# check for null values
df.isnull().sum()

Id                                   0
City                                 0
Country                              0
Smart_Mobility                       0
Smart_Environment                    0
Smart_Government                     0
Smart_Economy                        0
Smart_People                         0
Smart_Living                         0
SmartCity_Index                      0
SmartCity_Index_relative_Edmonton    0
dtype: int64

In [12]:
# explore dataframe columns
# some have spaces, so this needs to be cleaned
df.columns

Index(['Id', 'City', 'Country', 'Smart_Mobility ', 'Smart_Environment',
       'Smart_Government ', 'Smart_Economy ', 'Smart_People', 'Smart_Living',
       'SmartCity_Index', 'SmartCity_Index_relative_Edmonton'],
      dtype='object')

In [24]:
# clean columns
cleaned_columns = {}

# loop thru dataframe columns and replace whitespaces
for column in df.columns:
    cleaned_column = column.replace(' ', '')
    cleaned_columns.update({ column: cleaned_column })

# display dictionary
cleaned_columns

{'Id': 'Id',
 'City': 'City',
 'Country': 'Country',
 'Smart_Mobility ': 'Smart_Mobility',
 'Smart_Environment': 'Smart_Environment',
 'Smart_Government ': 'Smart_Government',
 'Smart_Economy ': 'Smart_Economy',
 'Smart_People': 'Smart_People',
 'Smart_Living': 'Smart_Living',
 'SmartCity_Index': 'SmartCity_Index',
 'SmartCity_Index_relative_Edmonton': 'SmartCity_Index_relative_Edmonton'}

In [25]:
# replace columns
df.rename(columns=cleaned_columns, inplace=True)
# display results
df.columns

Index(['Id', 'City', 'Country', 'Smart_Mobility', 'Smart_Environment',
       'Smart_Government', 'Smart_Economy', 'Smart_People', 'Smart_Living',
       'SmartCity_Index', 'SmartCity_Index_relative_Edmonton'],
      dtype='object')